PORT=5001
MONGODB_URI=mongodb+srv://deepbuddhadev135_db_user:RFUtAgSlhuwoDLRg@rms.beog0b4.mongodb.net/healthconnect?retryWrites=true&w=majority
JWT_ACCESS_SECRET=change_me_to_a_secure_random_string
JWT_REFRESH_SECRET=change_me_to_a_secure_random_string
JWT_ACCESS_EXPIRES_IN=3600
JWT_REFRESH_EXPIRES_IN=604800
CLIENT_URL=http://localhost:5173
NODE_ENV=development
